<form [formGroup]="newUserGroup">
    <button class="btn btn-warning" type="submit" [routerLink]="['../']"><i class="glyphicon glyphicon-arrow-left"></i></button>
    <fieldset>
        <legend>User</legend>
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" formControlName="name" >
            <div *ngIf="newUserGroup.controls.name.touched && newUserGroup.controls.name.errors">
                <div *ngIf="newUserGroup.controls.name.errors.required" class="alert alert-danger">
                    <i class="glyphicon glyphicon-warning-sign"></i>Name is required
                </div>
                <div *ngIf="newUserGroup.controls.name.errors.minlength" class="alert alert-danger">
                    Name should be minimum 3 characters.
                </div>
            </div>    
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" class="form-control" formControlName="email">
            <div *ngIf="newUserGroup.controls.email.touched && newUserGroup.controls.email.errors">
                <div *ngIf="newUserGroup.controls.email.errors.required" class="alert alert-danger">
                    <i class="glyphicon glyphicon-warning-sign"></i>Email is required.
                </div>
            </div>      
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input id="phone" type="number" class="form-control" formControlName="phone">    
        </div>
    </fieldset>
    <fieldset>
        <legend>Address</legend>
        <div class="form-group">
            <label for="street">Street</label>
            <input id="street" type="text" class="form-control" formControlName="street">    
        </div>
        <div class="form-group">
            <label for="suite">Suite</label>
            <input id="suite" type="text" class="form-control" formControlName="suite">    
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input id="city" type="text" class="form-control" formControlName="city">    
        </div>
        <div class="form-group">
            <label for="zipcode">ZipCode</label>
            <input id="zipcode" type="text" class="form-control" formControlName="zipcode">    
        </div>
    </fieldset>
    <button class="btn btn-success" type="submit" [disabled]="!newUserGroup.valid">Save <i class="glyphicon glyphicon-floppy-save"></i></button>
</form>

<!-- glyphicon glyphicon-warning-sign -->