<form [formGroup]="passwordForm" #f="ngForm" (submit)="changePass()">
    <div class="form-group">
        <label for="oldpassword">Current password</label>
        <input id="oldpassword" type="password" class="form-control" formControlName="oldpassword">
    </div>


    <div class="form-group">
        <label for="newpassword">New password</label>
        <input ngModel id="newpassword" type="password" name="newpassword" class="form-control" formControlName="newpassword">

        <div *ngIf="passwordForm.controls.newpassword.touched && passwordForm.controls.newpassword.errors">
            <div *ngIf="passwordForm.controls.newpassword.errors.required" class="alert alert-danger">
                New password is required.
            </div>

            <div *ngIf="passwordForm.controls.newpassword.errors.passwordMinLength" class="alert alert-danger">
                Password should be minimum 5 characters.
            </div>
        </div>

    </div>


    <div class="form-group">
        <label for="renewpassword">Confirm password</label>
        <input ngModel id="renewpassword" type="password" name="renewpassword" class="form-control" formControlName="renewpassword">

        <div *ngIf="passwordForm.controls.renewpassword.touched && passwordForm.controls['renewpassword'].errors">
            <div *ngIf="passwordForm.controls['renewpassword'].errors.required" class="alert alert-danger">
                Confirm new password.
            </div>

       <div *ngIf="passwordForm.errors && f.equalPassword" class="alert alert-danger"> <!-- Arreglar! no muestra el error de que son diferentes -->
            Password doesn't match.
        </div> 

    </div>

    </div>

    <button class="btn btn-warning" type="submit" [disabled]="!f.valid">Change Password</button>

</form>